dacite==1.8.1
python-dotenv==1.0.0
Flask==2.3.3
mediainfo==0.0.9
openai==0.27.10
pydub==0.25.1
requests==2.31.0
PyYAML==6.0
torch==1.10.0
num2words==0.5.12
omegaconf==2.3.0
pydantic==2.3.0
pymongo==4.5.0
numpy==1.25.2
python-telegram-bot=20.5